---
  extends: "@dosomething/eslint-config"
  globals:
    app: true
  parserOptions:
    # Node requires 'use strict' to use built-in ES6 compatibility.
    # Use script source type, so lint doesn't throw error:
    # 'use strict' is unnecessary inside of modules.
    sourceType: "script"
  rules:
    # We don't use babel here, so require 'use strict'.
    # See https://git.io/vr6I0.
    strict:
      - 2
      - "global"
    # Mongo uses _id as its internal primary key, we have to allow this style
    no-underscore-dangle:
      - error
      - allow:
        - _id
